
.MuiContainer-root .MuiBox-root {
    margin-top: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .MuiContainer-root .MuiBox-root .MuiAvatar-root {
        background-color: purple;
        margin:8px;
    }
